.sliding-dropdown:hover .dropdown-content{
    max-height: 500px;
    transition: max-height 1.5s ease-in;
}

.dropdown-content{
    max-height: 0;
    position: absolute;
    transition: max-height 1.5s ease-out;
    overflow: hidden;
}

.dropdwn-item{
    padding-left: 15px;
    background-color: lightcyan;
}

.dropdwn-item:not(:last-child){
    border-bottom: 1px solid lightgray;
}

.selected-item{
    background-color: lightgoldenrodyellow;
    border-left: 5px solid gold;
}

.dropdwn-item:hover{
    background-color: lightblue;
    border-left: 5px solid;
    padding-left: 10px;

}


