.sliding-dropdown:hover .dropdown-content{
    max-height: 500px;
    transition: max-height 1.5s ease-in;
}

.selected-item{
    background-color: aqua;
}

.dropdown-content{
    max-height: 0;
    position: absolute;
    transition: max-height 1.5s ease-out;
    overflow: hidden;
    background: #d5d5d5;
}

.dropdwn-item:hover{
    background-color: lightcoral;
}


